@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400&display=swap');

@font-face {
    font-family: 'BBC Reith Sans';
    src: url("../fonts/BBCReithSansBold.ttf");
    font-weight: bold;
    font-style: normal;
}
