@media screen and (min-width: 1400px) {
    .header__clock-geolocation,
    .whats_app-tel {
        column-gap: 75px;
    }

    .items .item:nth-child(9) {
        display: none;
    }
}

@media screen and (max-width: 1399px) {
    .header__clock-geolocation,
    .whats_app-tel {
        column-gap: 25px;
    }

    .header__find-input input {
        width: 400px;
    }

    .carousel-items .carousel-item img {
        height: 180px;
    }
}

@media screen and (max-width: 1199px) {

    .header__find-login a,
    .header__find-favourite a,
    .header__find-cart a {
        flex-direction: column;
        row-gap: 5px;
    }

    .my-navbar a,
    .my-navbar button,
    .my-navbar p {
        font-size: 13px;
    }

    .header__logo {
        max-width: 200px;
    }

    .header__clock-geolocation,
    .whats_app-tel {
        column-gap: 15px;
        row-gap: 5px;
        max-width: 260px;
    }

    .header__clock-geolocation {
        justify-content: flex-start;
    }

    .whats_app-tel {
        justify-content: center;
        align-items: end;
        max-width: 200px;
        flex-direction: column-reverse;
    }

    .header__geolocation {
        max-width: 185px;
    }

    .carousel_price {
        left: 12%;
    }

    .carousel-items .carousel-item img {
        height: 140px;
    }

    .item {
        width: 280px;
    }

    .footer-contact {
        max-width: none;
    }

    .contact-address {
        justify-content: start;
    }

    .feedback-subscribe {
        flex-direction: row;
        justify-content: space-between;
    }

    .feedback {
        flex-direction: column;
        min-width: 40%;
    }

    .contact-address div:nth-child(1) {
        width: 35%;
    }

}

@media screen and (max-width: 991px) {

    .header__find-catalog button,
    .header__find-input input,
    .header__find-input button {
        height: 43px;
    }

    .header__find a {
        font-size: 13px;
    }

    .header__find-login svg,
    .header__find-favourite svg,
    .header__find-cart svg {
        height: 21px;
    }

    .header__find-catalog button,
    .header__find-input button {
        padding: 0 15px;
    }

    .header__find-catalog text {
        display: none;
    }

    .header__find-input input {
        width: 290px;
        font-size: 13px;
    }

    .header__menu-right .my-dropdown {
        display: block !important;
    }

    .header__menu-right .my-navbar {
        display: none;
    }

    .container {
        /*max-width: 750px;*/
    }

    .header__menu-left ul {
        flex-direction: row;
        column-gap: 10px;
    }

    h1 {
        font-size: 18px;
        line-height: 24px;
    }

    h2,
    .news h2 {
        font-size: 16px;
        line-height: 19px;
    }

    h3 {
        font-weight: 500;
        font-size: 13px;
        line-height: 23px;
    }

    h4 {
        font-size: 11px;
        line-height: 16px;
    }

    h5 {
        font-size: 11px;
        line-height: 14px;
    }

    .header__logo img {
        width: 55px;
        height: 55px;
    }

    .header__clock img,
    .header__geolocation img {
        width: 20px;
        height: 20px;
    }

    .sale__data-text-price button {
        padding: 10px 11px;
    }

    .sale__data img {
        width: 70px;
        margin-right: 8px;
    }

    .carousel-data .carousel-item img:nth-child(1) {
        height: 350px;
    }

    .item__data h2 {
        font-size: 16px;
    }

    .carousel-items .carousel__items .item__data:nth-child(3) {
        display: none;
    }

    .carousel-items .carousel__items .item__data {
        width: 48%;
    }

    .item__data button {
        font-size: 13px;
        padding: 4px 0;
        width: 75px;
    }

    .carousel-items .carousel-item img {
        height: 160px;
    }

    .popular-button button {
        font-size: 15px;
    }

    .items {
        column-gap: 5px;
        row-gap: 10px;
    }

    .item {
        width: 235px;
    }

    .item__name {
        font-size: 16px;
    }

    .item__link-rating {
        display: none;
    }

    .feedback-subscribe input {
        min-width: 270px;
        font-size: 14px;
    }

    .feedback-subscribe button {
        padding: 0 15px;
        font-size: 14px;
    }

    .contact-address div:nth-child(1) {
        width: 37%;
    }

    .social-icon {
        justify-content: flex-start;
    }
}

@media screen and (max-width: 767px) {
    .carousel-items .carousel-item img {
        height: 130px;
    }

    .carousel-data {
        flex-direction: column;
    }

    .sale {
        flex-direction: row;
    }

    .carousel-data .carousel-item img:nth-child(1) {
        height: 300px;
    }

    .header__find-login,
    .header__find-favourite,
    .header__find-cart,
    .header__clock-geolocation,
    .header__menu-left .my-dropdown,
    .items .item:nth-child(n+5),
    .header__find-input text,
    .news-item:nth-child(n+4) {
        display: none !important;
    }

    .news-item {
        width: 32%;
    }


    .add-menu,
    .footer-fixed {
        display: flex;
    }

    .header__menu-right .translate {
        transform: translate(-70px, 0);
    }

    .header__find-mini,
    .header__find-input,
    .header__find-input input {
        width: 100%;
    }

    .header__find-input label {
        flex-grow: 1;
    }

    .header__find-input button svg,
    .header__find-input svg {
        display: block;
    }

    .popular-button button {
        padding: 10px 20px;
    }

    .feedback-subscribe {
        flex-direction: column;
    }

    .contact-address {
        justify-content: space-between;
    }
    .site_info{
        margin-bottom: 50px;
    }

}

@media screen and (max-width: 575px) {
    .container {
        max-width: 480px;
    }

    .news__items {
        flex-direction: column;
        align-items: center;
    }

    .news-item {
        width: 90%;
    }

    .carousel-data .carousel-item img:nth-child(1) {
        height: 230px;
    }

    .carousel-items .carousel__items .item__data:nth-child(2) {
        display: none;
    }

    .carousel-items .carousel__items .item__data {
        width: 70%;
    }

    .carousel-items .carousel__items {
        justify-content: center;
    }

    .header__logo img {
        width: 45px;
        height: 45px;
    }

    .header__logo-name {
        margin-left: 3px;
        min-width: 90px;
        max-width: 110px;
    }

    button.whats_app {
        font-size: 9px;
        padding: 2px !important;
        min-height: auto;
    }

    button.whats_app img {
        padding-right: 3px !important;
        width: 12px;
    }


    .header__find-catalog button,
    .header__find-input input,
    .header__find-input button {
        padding: 7px;
        height: 28px;
    }

    .header__find-catalog button svg {
        width: 15px;
    }

    .sale__data img {
        width: 50px;
        margin-right: 5px;
    }

    h1, h2 {
        font-size: 14px;
        line-height: 18px;
    }

    h3 {
        font-size: 12px;
        line-height: 14px;
    }

    h4 {

    }

    h5 {
        font-size: 9px;
        line-height: 12px;
    }

    .sale__data-text-price button {
        padding: 7px 8px;
    }

    .popular-button button {
        font-size: 11px;
        padding: 5px;
    }
}

@media screen and (max-width: 480px) {
    .container {
        max-width: 400px;
    }

    .carousel-data .carousel-item img:nth-child(1) {
        height: 200px;
    }

    .sale {
        flex-direction: column;
        max-width: 240px;
    }

    .carousel-items .carousel__items .item__data {
        width: 90%;
    }

    .item {
        width: 150px;
        line-height: 14px;
    }

    .item__name {
        font-size: 13px;
    }

    .item h2 {
        line-height: 14px;
        font-size: 13px;
    }

    .item h3 {
        line-height: 14px;
        font-size: 12px;
    }

    .item__button-cart {
        padding: 6px 8px;
        font-size: 11px;
    }

    .footer-container,
    .contact-address {
        flex-direction: column;
        row-gap: 15px;
    }

    .feedback-subscribe button {
        padding: 4px 6px;
        font-size: 12px;
    }

    .feedback-subscribe input {
        min-width: auto;
        max-width: 270px;
        font-size: 14px;
    }

    .items {
        column-gap: 3px;
        row-gap: 5px;
    }

}