@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
    --blue: #005BB9;
    --orange: #FFB800;
    --dark: #0F2438;
    --grey: #C2C5DA;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
    color: var(--dark);
}

.color-light {
    color: #FFFFFF;
}

#header {
    width: 100%;
}

.header__bg {
    position: absolute;
    background-color: var(--dark);
    height: 36px;
    z-index: -1;
    width: 100%;
}

#header__menu nav {
    height: 36px;
    color: #FFFFFF;
}

.my-link {
    color: #FFFFFF;
}

.my-link:hover,
.my-link:focus {
    color: var(--orange);
}

#header__information {
    margin-top: 25px;
}

.header__logo-name {
    max-width: 170px;
    min-width: 140px;
    margin-left: 12px;
}

h1, h2, h3, h4, h5 {
    margin: 0;
    padding: 0;
}

h1 {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
}

h3 {
    font-weight: 500;
    font-size: 16px;
    line-height: 23px;
}

h4 {
    font-weight: 500;
    font-size: 14px;
    line-height: 20px;
}

h5 {
    font-weight: 500;
    font-size: 12px;
    line-height: 14px;
}

.header__clock-geolocation,
.whats_app-tel {
    justify-content: space-between;
    align-items: center;
}

.header__geolocation {
    max-width: 135px;
}

button.whats_app {
    max-width: 210px;
    min-height: 30px;
    background: #E1EFD0;
    border-radius: 2px;
    border: 0;
    margin: 0;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    line-height: 14px;
    text-align: right;
    color: #000000;
}

.header__tel a {
    font-size: 12px;
    line-height: 14px;
    text-decoration-line: underline;
    color: var(--dark);
}

.my-navbar {
    overflow: hidden;
    display: flex;
    align-items: center;
    height: 36px;
    column-gap: 5px;
}

.my-navbar a {
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 5px;
    padding: 3px;
}

.my-dropdown {
    /*overflow: hidden;*/
}

.arrow {
    display: inline-block;
    margin-left: 0.255em;
    vertical-align: 0.255em;
    content: "";
    border-top: 0.4em solid;
    border-right: 0.4em solid transparent;
    border-bottom: 0;
    border-left: 0.4em solid transparent;
    color: #FFFFFF;
}

.my-dropdown .drop-btn {
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    border-radius: 5px 5px 0 0;
    padding: 3px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.my-navbar a:hover,
.my-dropdown:hover > .drop-btn,
.my-dropdown:hover > .drop-btn i {
    color: var(--orange);
    transition: 0.5s
    /*transform: scale(1.1);*/
}

.my-dropdown:hover .drop-btn i {
    transform: rotate(-180deg);
    -webkit-transform: rotate(-180deg);
}

.my-dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFF;
    border-radius: 5px;
    min-width: 100px;
    box-shadow: 0 8px 15px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.add-menu {
    display: none;
    flex-direction: column;
    align-items: flex-end;
}

.add-menu .my-dropdown {
    width: 100%;
    position: relative;
}

.add-menu .my-dropdown .my-dropdown-content {
    position: absolute;
    right: 120px;
    z-index: 2;
    top: 0;
}

.add-menu .drop-btn {
    color: var(--dark);
}

.add-menu .my-dropdown .drop-btn i {
    color: var(--dark);
    transform: rotate(90deg);
    -webkit-transform: rotate(90deg);
}

.add-menu .my-dropdown:hover .drop-btn {
    background-color: var(--dark);
    border-radius: 5px;
}

.add-menu .my-dropdown:hover .drop-btn i {
    color: var(--orange);
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
}

.my-dropdown-content a {
    float: none;
    color: black;
    padding: 5px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.my-dropdown-content a:hover {
    background-color: var(--dark);
}

.my-dropdown.d-none > div > div > div:nth-child(2) > div {
    width: 120px;
}

/*.my-dropdown-content a:nth-child(1):hover {*/
/*    background-color: var(--dark);*/
/*    border-radius: 0 0 5px 5px;*/
/*    transition: 0.5s*/
/*}*/

.my-dropdown:hover > .my-dropdown-content {
    display: block;
}

.header__menu-right .translate {
    transform: translate(-48px, 0);
}

.header__menu-right a {
    text-align: end;
}

.header__find {
    margin: 25px auto;
}

.header__find a {
    text-decoration: none;
    color: var(--dark);
}

.header__find-catalog button,
.header__find-input input,
.header__find-input button {
    height: 50px;
}

.header__find-catalog button {
    background: var(--blue);
    border-radius: 6px;
    border: 0;
    padding: 15px 25px;

    display: flex;
    align-items: center;
    align-content: center;
    flex-wrap: nowrap;
    column-gap: 10px;
    justify-content: center;
}

.header__find-mini text {
    color: white;
    font-size: 18px;
    font-weight: bold
}

.header__find-input {
    display: flex;
    flex-wrap: nowrap;
}

.header__find button:hover,
.header__find button:hover text,
.header__find a:hover {
    color: var(--orange);
}

.header__find button path {
    fill: #FFFFFF;
}

.header__find-input button svg {
    display: none;
}

.header__find-login:hover path,
.header__find-favourite:hover path,
.header__find-cart:hover path,
.header__find button:hover rect,
.header__find button:hover path {
    fill: var(--orange)
}

.header__find-input input {
    width: 500px;
    background: #FFF;
    margin: 0;
    border: 1px solid var(--blue);
    border-radius: 6px 0 0 6px;
    padding: 0 20px;
    box-sizing: border-box;
    font-size: 14px;
}

.header__find-input button {
    padding: 0 25px;
    border-radius: 0 6px 6px 0;
    border: 1px solid var(--blue);
    background-color: var(--blue);
}

svg path {
    fill: var(--dark);
}

.header__find-login a,
.header__find-favourite a,
.header__find-cart a {
    display: flex;
    column-gap: 5px;
    align-items: center;
    font-size: 14px;
}

#carouselWithIndicators {
    height: fit-content;
    max-width: 950px;
}

.carousel-data .carousel-item img:nth-child(1) {
    border-radius: 15px;
    width: 100%;
    height: 390px;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
    height: 50px;
    width: 50px;
}

.carousel-control-next-icon {
    background-image: url("image/carousel/next.png");
}

.carousel-control-prev-icon {
    background-image: url("image/carousel/prev.png");
}

.carousel-indicators [data-bs-target] {
    opacity: 1;
    height: 20px;
    background: url("image/carousel/Ellipse_white.png") no-repeat center;
}

.carousel-indicators .active {
    background: url("image/carousel/Ellipse_black.png") no-repeat center;
}

.carousel_foto,
.carousel_price {
    margin-top: auto;
    margin-bottom: auto;
    top: 0;
    bottom: 0;
}

.carousel_foto {
    position: absolute;
    width: 40%;
    z-index: 99;
    right: 10%;
}

.carousel_price {
    position: absolute;
    width: 40%;
    z-index: 100;
    left: 10%;
}

.sale {
    display: flex;
    flex-direction: column;
    row-gap: 3px;
}

.sale__item {
    padding: 7px;
    border: 1px solid transparent;
    border-radius: 6px;
}

.sale__item:hover {
    border: 1px solid var(--grey);
}

.sale__title {
    margin: 5px 0 10px 5px;
}

.sale__data img {
    margin-right: 15px;
    height: fit-content;
}

.sale__data-text {
    display: flex;
    flex-direction: column;
    row-gap: 1px;
}

.sale__data-text-price {
    display: flex;
    column-gap: 10px;
    justify-content: space-between;
    align-items: self-end;
    width: 100%;
}

.sale__data-text-price-item {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;
    align-items: flex-end;
}

.sale__data-text-price button {
    background-color: var(--blue);
    padding: 15px 16px;
    border-radius: 6px;
    margin-left: 20px;
    border: 0;
}

.sale__data-text-price button svg path {
    fill: white;
}

.sale__data-text-price button:hover svg path {
    fill: var(--orange)
}

.sale__data-text-price h2 {
    color: var(--orange);
    white-space: nowrap;
    /*padding-bottom: 8px;*/
}

.sale__data-text-price h3 {
    color: var(--grey);
    white-space: nowrap;
    font-weight: normal;
    text-decoration: line-through;
    /*padding-bottom: 8px;*/
}

.carousel-items {
    margin: 10px auto;
}

.carousel-items .carousel-control-next,
.carousel-control-prev {
    width: auto;
}

.carousel-items .carousel-control-next {
    right: -20px;
}

.carousel-items .carousel-control-prev {
    left: -20px;
}

.carousel-items .carousel__items {
    display: flex;
    justify-content: space-between;
    padding: 5px 10px;
}

/*.carousel-items .carousel-item img:nth-child(1) {*/
/*    height: fit-content;*/
/*}*/
/*.carousel-items .carousel__items .item__data{*/
/*    height: 200px;*/
/*}*/
.carousel-items .carousel-item img {
    height: 190px;
}

.item__data {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 32%;
    border: 1px solid transparent;
    border-radius: 6px;
    padding: 5px 5px 5px 15px;
}

.item__data-text {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 50%;
}

.item__data:hover {
    border: 1px solid var(--grey);
}

.item__data h2 {
    font-size: 24px;
}

.item__data button {
    background-color: var(--blue);
    border: 0;
    padding: 4px 0;
    color: white;
    width: 85px;
    border-radius: 4px;
}

.item__data button:hover {
    color: var(--orange);
}

.item__data-foto img {
    /*height: fit-content;*/
}

.popular-button {
    display: flex;
    justify-content: start;
    column-gap: 15px;
}

.popular-button button {
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 6px;
    border: 2px solid var(--blue);
    color: var(--blue);
    background-color: #FFFFFF;
}

.popular-button button:hover {
    background-color: var(--blue);
    color: white;
}

.items {
    margin: 25px auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 2%;
    row-gap: 20px;
    padding: 0;
    justify-content: space-between;
}

.item {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 5px;
    width: 290px;
    border-radius: 6px;
    border: 1px solid transparent;
}

.item:hover {
    border: 1px solid var(--grey);

}


.item__foto {
    position: relative;
    margin: 0 auto;
    border-radius: 2px;
    border: 1px solid var(--blue);
    text-align: center;
    height: 55%;
}

.item__foto img {
    max-width: 94%;
}

.item__foto-sale {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--orange);
    border-radius: 2px;
    padding: 2px;
    font-size: 12px;
    color: white;
    width: fit-content;
}

.item__rating-num {
    color: var(--orange);
}

.item__response {
    color: var(--grey);
    margin-left: 5px;
}

.item__name {
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
    height: 50px;
}

.item__price,
.item__price-request {
    display: flex;
    column-gap: 10px;
    align-items: end;
    min-height: 26px;
}

.item__price h2 {
    font-weight: bold;
    font-size: 22px;
    line-height: 26px;
    color: var(--orange);
}

.item__price h3 {
    font-size: 16px;
    line-height: 19px;
    text-decoration-line: line-through;
    color: var(--grey);
}

.item__price-request h3 {
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
}

.item__price-request a {
    font-size: 13px;
    line-height: 15px;
    text-decoration-line: underline;
    color: var(--blue);
}

.item__buttons {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.item__button-cart {
    color: #FFFFFF;
    background-color: var(--blue);
    border: 0;
    border-radius: 6px;
    font-size: 16px;
    line-height: 19px;
    font-weight: 500;
    padding: 15px 30px;
    display: flex;
    column-gap: 10px;
}

.item__button-cart path {
    fill: white;
    stroke: white;
}

.item__buttons a path {
    fill: var(--blue);
    stroke: var(--blue);
}

.item__button-cart:hover,
.item__button-cart:hover path {
    color: var(--orange);
    fill: var(--orange);
    stroke: var(--orange);
}

.item__buttons a:hover path {
    fill: var(--orange);
    stroke: var(--orange);
}

/*Включаєм знижку і ціну для вибраних товарів*/
.items .item:nth-child(3n-2) .item__foto-sale,
.items .item:nth-child(3n-2) .item__price {
    display: flex !important;
}

.items .item:nth-child(3n-2) .item__price-request {
    display: none;
}


/*-------------------*/
.news__items {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.news-item {
    width: 24%;
    margin: 15px 0;
}

.news h2 {
    font-size: 24px;
    text-transform: uppercase;
    margin: 45px 0 10px 0;
}

.news-item-date {
    height: fit-content;
    width: fit-content;
    background-color: var(--dark);
    margin: 30px 0 15px 0;
    padding: 3px 10px;
    border-radius: 4px;
    position: relative;
}

.news-item-date:before,
.news-item-date:after {
    content: "";
    position: absolute;
    display: block;
    background-color: var(--dark);
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
}

.news-item-date:before {
    height: 25px;
    width: 1px;
    top: -20px;

}

.news-item-date:after {
    height: 9px;
    width: 9px;
    top: -29px;
    border-radius: 50%;
}

.news-item-date h3 {
    color: #FFFFFF;
}

.news-item-name {
    margin-bottom: 15px;
}

#footer {
    width: 100%;
    background-color: var(--dark);
}

.footer-container {
    padding-top: 35px;
    padding-bottom: 35px;
    display: flex;
    align-items: start;
    flex-wrap: wrap;
    justify-content: space-between;
    column-gap: 10px;
    row-gap: 15px;
}

.footer-container h2 {
    color: var(--grey);
    text-transform: uppercase;
}

.footer-container a,
.footer-container h3 {
    text-decoration: none;
    color: #FFFFFF;
}

.footer-container a:hover {
    color: var(--orange);
}

.footer-catalog {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 250px;
}

.footer-catalog img {
    width: fit-content;
}

.footer-contact {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    column-gap: 20px;
    max-width: 43%;
}

.contact-address {
    display: flex;
    justify-content: space-between;
    /*flex-grow: 1;*/
}

.contact-item h2 {
    margin-bottom: 15px;
}

.contact-item h3 {
    line-height: normal;
}

.feedback-subscribe,
.subscribe {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

.feedback {
    display: flex;
    column-gap: 30px;
}

.feedback h2,
.subscribe h2 {
    text-transform: none;
}

.feedback h2:nth-child(2) {
    color: #FFFFFF;

}

.subscribe-input {
    height: 40px;
    display: flex;
}

.subscribe-input label {
    height: 100%;
    border: 0;
}

.subscribe-input input {
    background-color: transparent;
    padding: 0 15px;
    height: 100%;
    border: 1px solid var(--grey);
    border-right: 0;
    border-radius: 6px 0 0 6px;
    min-width: 300px;
    font-size: 16px;
    color: #FFFFFF;
}

.subscribe-input input::placeholder {
    color: var(--grey);
}

.subscribe-input button {
    height: 100%;
    border: 0;
    padding: 0 35px;
    background-color: var(--blue);
    border-radius: 0 6px 6px 0;
    font-size: 16px;
    color: #FFFFFF;
}

.subscribe-input button:hover {
    color: var(--orange);
}

.social-icon {
    display: flex;
    column-gap: 50px;
    justify-content: flex-end;
    align-items: center;
}

.social-icon path {
    fill: white;
}

.site_info {
    display: flex;
    column-gap: 50px;
    align-items: center;
}

.site_info h3 {
    font-weight: normal;
    color: var(--grey);
}
.social-icon svg:hover path{
    fill:var(--orange)
}

.footer-fixed {
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 60px;
    border: 2px solid var(--grey);
    width: 100%;
    overflow: hidden;
    position: fixed;
    z-index: 999;
    bottom: 0;
    background-color: var(--grey);
}

.footer-fixed-item a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: var(--dark);
}

.footer-fixed-item a:hover,
.footer-fixed-item a:hover path,
.footer-fixed-item a:hover .num-of-item{
    color: var(--orange);
    fill: var(--orange)
}

.footer-fixed-item .icon {
    position: relative;
}
.num-of-item{
    position: absolute;
    background-color: var(--blue);
    width: 12px;
    height: 12px;
    border-radius: 50%;
    top: -3px;
    right: -5px;
    font-size: 8px;
    color: white;
    text-align: center;
    line-height: 12px;
}