:root {
    --blue: #3ac6ea;
    --grey: #ced8e1;
    --dark: #2b2b2b;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
.bg-grey{
    background-color: var(--grey);
}
.bg-blue{
    background-color: var(--blue);
}
.bg-dark{
    background-color: var(--dark);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0 auto;
    max-width: 1200px;
}

#soc-icon-top {
    height: 60px;
    justify-content: flex-end;
    column-gap: 20px;
    padding: 0 10%;
}

.soc-icon-top__avatar {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.header__top {
    min-height: 120px;
    display: flex;
    justify-content: space-between;
    padding: 0 10%;
    flex-wrap: wrap;
}

.header__top-logo {
    height: 70px;
    width: 180px;
    border-radius: 15px;
    margin-top: 15px;
}

.header__top-menu {
    column-gap: 15px;
    flex-wrap: wrap;
}

.header__top-menu-item {
    height: 20px;
    width: 90px;
    border-radius: 5px;
    margin: 25px 0;
}

.header__main {
    flex-direction: column;
    min-height: 300px;
    color: var(--dark);
}

.header__main h1 {
    margin: 15px;
    font-size: 36px;
    text-align: center;
}

.header__main p {
    font-size: 22px;
    width: 50%;
    line-height: 26px;
    text-align: center;
}

.header__main button {
    background-color: var(--dark);
    color: var(--blue);
    border-radius: 15px;
    font-size: 18px;
    height: 40px;
    width: 180px;
    border: 0;
    margin: 25px 0;
}

.header__main button:hover,
.news__footer-button:hover {
    color: var(--grey);
    cursor: pointer;
}

.main {
    min-height: 300px;
}

.product {
    border: 5px solid var(--blue);
    min-height: 250px;
    width: 90%;
    border-radius: 50px;
    flex-direction: column;
    color: var(--dark);
    padding: 20px;
    margin: 20px;
}


.products {
    column-gap: 40px;
    align-items: flex-start;
    margin-top: 20px;
    flex-wrap: wrap;
}

.product__title {
    font-size: 28px;
    margin: 10px;
}

.product__item {
    flex-direction: column;
    width: 200px;
}

.product__item-logo {
    width: 100%;
    height: 200px;
    border-radius: 15px;
}

.product__item-description {
    text-align: center;
    width: 90%;
    margin: 15px 0;
}

.worker {
    column-gap: 10px;
    flex-wrap: wrap;
}

.worker__card {
    margin: 25px 0;
    flex-direction: column;
    width: 300px;
    border: 3px solid transparent;
    border-radius: 10px;
    padding: 20px;
    color: var(--grey);
}

.worker__card:hover {
    border-color: var(--blue);
}

.worker__card-img {
    height: 180px;
    width: 180px;
    border-radius: 50%;
    margin: 10px 10px 20px 10px;
}

.worker__card-name,
.worker__card-description {
    margin: 5px;
}

.worker__card-name a,
.worker__card-description a {
    text-decoration: none;
    color: var(--grey);
}

.worker__card-name a {
    font-size: 24px;
}

.worker__card-description a {
    font-size: 18px;
}

.worker__card-name a:hover,
.worker__card-description a:hover {
    text-decoration: underline;
}

.news {
    flex-direction: column;
    padding: 15px;
    color: var(--dark);
}

.news__title {
    margin: 40px;
    font-size: 28px;
    text-align: center;
}

.news__page {
    flex-wrap: wrap;
    column-gap: 25px;
    row-gap: 25px;
}

.news__page-data {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 400px;
    width: 300px;
    border: 4px solid var(--blue);
    border-radius: 15px;
    padding: 15px 15px 0 15px;
}

.news__page-data .img {
    width: 100%;
    height: 150px;
    border-radius: 15px;
}

.news__page-data .img-param {
    justify-content: space-between;
    width: 100%;
}

.news__page-data .img-param-data,
.news__page-data .img-param-views {
    font-size: 16px;
    font-weight: 900;
    margin: 5px 10px;
}

.news__page-name {
    font-size: 18px;
    font-weight: 700;
    margin: 10px 0;
}

.news__page-description {
    flex-grow: 1;
    font-size: 16px;
    text-align: justify;
    text-indent: 15px;
}

.news__footer {
    width: 295px;
    justify-content: space-between;
    margin-left: -15px;
    padding: 10px;
    border-top: 4px solid var(--blue);
}

.news__footer-button {
    color: var(--blue);
    border-radius: 5px;
    font-size: 12px;
    height: 18px;
    width: 50px;
    border: 0;
}

.news__action {
    column-gap: 10px;
    padding: 5px;
}

.news__action-sm {
    background-color: var(--dark);
    width: 18px;
    height: 18px;
    border-radius: 50%;
}

.notification {
    flex-wrap: wrap;
    padding: 80px 50px;
    color: var(--blue);
}

.notification__item {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    min-height: 300px;
    width: 480px;
    padding: 60px;

}

.notification__item h2 {
    margin: 10px 0;
}

.notification__item p {
    font-size: 18px;
    text-align: justify;
    text-indent: 15px;
    margin-bottom: 10px;
}

.notification__item button {
    background-color: var(--blue);
    border: 0;
    font-size: 18px;
    flex-grow: 1;
    max-height: 35px;
    min-height: 35px;
    width: 120px;
    border-radius: 17px;
    margin: auto 0 0 0;
    cursor: pointer;
}
.notification__item button:hover span{ display: none;}
.notification__item button:hover:before{ content: 'Click me';}

.notification__item:nth-child(2n) {
    background-color: var(--blue);
    color: var(--dark);
}

.notification__item:nth-child(2n) button {
    background-color: var(--dark);
    color: var(--blue);
}

#footer {
    min-height: 150px;
}

.footer__body {
    min-height: 50px;
    width: 300px;
    border-bottom: 3px solid var(--blue);
    column-gap: 15px;
    flex-wrap: wrap;
    padding: 10px 25px;
}

.footer__body-item {
    background-color: var(--grey);
    width: 35px;
    height: 35px;
    border-radius: 5px;
    margin-bottom: 15px;
}
